.current-weather-section {
    margin-top: 98px;
    display: flex;
    justify-content: center;
    gap: 45px
}

.box1 {
    background-image: linear-gradient(to right,#5157C0, #EDEEFF);
}

.box2 {
    background-image: linear-gradient(to right,#5157C0, #EDEEFF);
}

.box3 {
    background-image: linear-gradient(to right,#5157C0, #EDEEFF);
}