/* color #6396E1 */

.search-bar-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 122px;
}

.search-bar {
    display: flex;
    border-radius: 50px;
    background-image: linear-gradient(to right,#5157C0, #EDEEFF);

    padding: 30px 43px;
}

#favoritesBtn {
    padding-left: 15px;
    padding-right: 16px;
}

#searchField {
    border: 0;
    background: transparent;
    text-align: center;
}

#searchBtn {
    padding-left: 16px;
}

#recentSearches {
    position: absolute;
    top: 210px;
    background-color: black;
}

.inactive{
    display: none !important;
}