/* color #6396E1 */

.search-bar-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 122px;
}

.search-bar {
    display: flex;
    border-radius: 50px;
    background-image: linear-gradient(to right,rgb(81, 87, 192, 0.5), rgb(237, 238, 255, 0.5));
    padding: 30px 43px;
    box-shadow: 0px 3px 3px 0px #585858;
}

#favoritesBtn {
    padding-left: 15px;
    padding-right: 16px;
}

#searchField {
    border: 0;
    background: transparent;
    text-align: center;
}

#searchBtn {
    padding-left: 16px;
}

#recentSearches {
    position: absolute;
    top: 210px;
    background-color: rgb(23, 24, 41, 0.8);
    border-radius: 0;
}

.inactive{
    display: none !important;
}


.favorites-class{
    background-color: black;
    background-image: linear-gradient(to right,#5157C0, #EDEEFF);
    color: white;
    font-size: 48px;
    padding-left: 28px;
}

.offcanvas {
    background-color: rgb(81, 87, 192, 0.5) !important;
    border: 0;
}
